# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
.venv/
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Testes
.pytest_cache/
.coverage
htmlcov/

# Build
dist/
build/
*.egg-info/
